.clickable {
    width: 40%;
    height: fit-content;
}

#grid {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: flex-start;
    column-gap: 10px;
}

.repo-tile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repo-tile div {
    align-items: center;
}

.repo-tile div svg {
    size: 25px;
}

.repo-tile .bottom {
    justify-content: space-between;
}

.repo-tile:hover {
    box-shadow: 5px 5px 8px 0px #000000;
}